@import url('https://fonts.googleapis.com/css?family=Bitter');

/*.resultstable{
  width:50%;
}*/

body {
  background: linear-gradient(to right, green, skyblue);
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
}

#lslist li {
  display: block;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: blue;
  width: 30%;
  margin-top: 10px;
  font-family: 'Bitter', cursive;
}
